.header {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
}

.search-bar {
    margin-top: 3vh;
    width: 100%;
    max-width: 100vh;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.user-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 20px;
}

.user-card {
    width: 150px;
    margin: 10px;
    text-align: center;
}

.pagination-container {
    display: flex;
    justify-content: center;
}

.pagination {
    display: flex;
    gap: 10px;
}

.pagination button {
    padding: 10px 15px;
    border: 1px solid #007bff;
    background-color: #007bff;
    color: white;
    border-radius: 4px;
    cursor: pointer;
}

.pagination button:disabled {
    background-color: #cccccc;
}

.loading-bar {
    text-align: center;
    width: 80%;
    height: 10px;
    background-color: #f3f3f3;
    position: relative;
    margin: 0 auto; 
    padding-bottom: 12px;
    margin-bottom: 12px;
}

.loading-bar div {
    height: 100%;
    width: 10%;
    background-color: green;
    position: absolute;
    left: -10%;
    animation: loading 1s infinite;
}

@keyframes loading {
    0% {
        left: -10%;
    }

    100% {
        left: 100%;
    }
}